
<div class="home">
  <div class="bar bar-header bar-light">
    <h1 class="title">Home</h1>
  </div>


  <div class="text-center">
    <h3 style="text-align: center;">Tela inicial Foneclube</h3>
  </div>
</div>
<!--<button class="button button-small button-full button-positive"  on-tap="vm.addCheckout()" ng-cloak="">Testa post</button>
<input class="bottom-marg-15" id="input-file" type="file" name="file" file="file">
<button class="button button-small button-full button-positive"  ng-click="vm.uploadGaleria(vm.file)" ng-cloak="">Upload da galeria</button>
<span ng-if="vm.error" ng-bind="vm.result.error" style="color:red;font-weight:bold" ></span>
<img class="fit" style="width: 50%; height: 50%" ng-if="vm.result.url" ng-src="{{vm.result.url}}">
<small><a ng-href="{{vm.result.url}}" ng-bind="vm.result.url"></a></small>



<button class="button button-small button-full button-positive"  on-tap="vm.addPhoto()" ng-cloak="">Tirar Foto</button>
<button class="button button-small button-full button-positive"  on-tap="vm.testeData()" ng-cloak="">Subir Foto</button>
<br><br>
<ion-scroll>
<img ng-repeat="image in vm.images" ng-src="{{vm.urlForImage(image)}}" height="200px"/>
</ion-scroll>-->






