.mensagens-dialog {
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
    cursor: default;
    @mixin btnDefault() {
        min-width: 100px;
        background-color: white;
        color: black;
        border: 2px solid black;        
        font-size: 16px;
        outline: none;
        &:focus {
            outline:none;
        }
    }
    .ngdialog-content {                        
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        background-color: transparent;
        @media screen and (min-width: 767px) {
            .mensagem-content {             
                width: 600px;
            }
        }
        @media screen and (max-width: 767px) {
            .mensagem-content {             
                width: 280px;
            }
        }
        .mensagem-content {
            background-color: white;            
            
            .title-mensagem {
                font-size: 16px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                font-weight: 500;
                
                span {
                    margin-top: 15px;
                    margin-bottom: 15px;
                }
                
                hr {
                    width: 100%;
                    border-top: 2px solid #eee;
                    margin-top:0px;
                    margin-bottom: 10px;
                }
            }
            .corpo-mensagem {
                margin-bottom: 10px;
                margin-left: 20px;
                margin-right: 20px;
                display: flex;
                justify-content: flex-start;
                flex-direction: column;
                font-weight: 500;
                p {
                    margin: 0;
                }
            }
            .footer {
                display: flex;
                justify-content: center;
                align-items: center;
                padding-bottom: 20px;              
                .btnOk {
                    @include btnDefault();
                    border-color: #337ab7;
                    width: 120px;
                    height: 35px;
                    &:hover {
                        background-color: #337ab7;
                        color: white;
                    }
                }
                .btnCancelar {
                    @include btnDefault();
                    border-color: #d43f3a;
                    margin-left: 5px;
                    min-width: 120px;
                    height: 35px; 
                    &:hover {
                        background-color: #d43f3a;
                        color: white;
                    }
                }
                .btnConfirmar {
                    @include btnDefault();
                    border-color: #337ab7;;
                    margin-left: 5px;
                    min-width: 120px;
                    height: 35px; 
                    &:hover {
                        background-color: #337ab7;;
                        color: white;
                    }                    
                }
            }
            
        }
        .show-loader {
            padding: 20px;
            border-radius: 5px;
            background-color: rgba(0, 0, 0, 0.7);
            color: #fff;
            text-align: center;
            text-overflow: ellipsis;
            font-size: 15px;
        }
    }
    .ngdialog-close:before{
        content: '';
    }    
}
@media screen and (min-width: 767px) {   
    .ngdialog.show-template {
        padding-top: 160px;
        padding-bottom: 160px;
    }
}

@media screen and (max-width: 767px) {
    .ngdialog.show-template {
        padding-top: 20px;
        padding-bottom: 160px;
    }
}
.show-template {
    button { outline: none; }
    .ngdialog-close:before {
        content: '';
    }

    .ngdialog-overley {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    .ngdialog-content {
        overflow: hidden;
        border: 6px solid #35baf6;
        border-radius: 0px;
        padding: 0;
        -webkit-animation: ngdialog-flyin .5s;
        animation: ngdialog-flyin .5s;
        background: #f0f0f0;
        color: #444;
        font-family: Helvetica,sans-serif;
        font-size: 1.1em;
        line-height: 1.5em;
        margin: 0 auto;
        max-width: 100%;
        position: relative;
        width: 450px;
        max-height: 700px;
    }

    .header {
        height: 40px;
        width: 100%;
        text-align: center;
        .title {
            position: relative;
            top: 10px;
            font-size: 20px;
        }

        button {
            border: 0;
            background-color: #35baf6;
            width: 30px;
            height: 30px;
            color: white;
            position: absolute;
            right: 0;
            font-weight: bold;
        }
    }

    .modal-container {
        max-height: 550px;
        overflow-y: auto;
        overflow-x: hidden;
        width: 99%;
        
        &::-webkit-scrollbar-track
        {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
            background-color: #B5E8FC;
            border-radius: 10px;
        }

        &::-webkit-scrollbar
        {
            width: 5px;
            background-color: #FFF;
        }

        &::-webkit-scrollbar-thumb
        {
            border-radius: 10px;
            background-color: #35baf6;
        }
    }

}