.pane {
    overflow-y: auto;
}
.customers-container {   
    display: flex;
    flex: 1 1 auto;
    height: 100%;     
    flex-direction: column; 
    background-color: $background-default;       
    .form-container {
        margin-top: 15px;
    }
}