.pane {
  overflow-y: auto;
}
.customers-container {
  display: flex;
  flex: 1 1 auto;
  height: 100%;
  flex-direction: column;
  background-color: $background-default;

  .form-container {
    margin-top: 15px;
  }

  .filter {
    display: none;
  }

  .loading {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    font-size: 20px;
  }

  /* Transparent Overlay */
  .loading:before {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    // width: 100%;
    // height: 100%;
    // background-color: rgba(0,0,0,0.3);
  }

  .filters-container {
    margin-top: 60px;

    &.d-flex,
    .d-flex {
      display: flex;
      flex: 1;

      &.align-center {
        align-items: center;
      }
    }

    .dropdown {
      margin-right: 16px;

      > button {
        height: 45px;
        box-sizing: border-box;
        background: #fff;
        border-radius: 0;
        border: none;

        &.dropdown-toggle::after {
          content: "";
          width: 0;
          height: 0;
          margin-left: 0.255em;
          vertical-align: 0.255em;
          display: inline-block;
          border-top: 0.3em solid;
          border-right: 0.3em solid transparent;
          border-bottom: 0;
          border-left: 0.3em solid transparent;
        }
      }

      > .dropdown-menu {
        width: 200px;
      }
    }

    .dropdown-menu .tfilter {
      label {
        background: #fff;
        padding: 10px;
        width: 100%;
        margin: 0;
        cursor: pointer;

        input[type="checkbox"] {
          float: right;
          margin-top: 5px;
        }
      }
    }

    .tfilter.tsearch > input {
      border-radius: 0;
      border: none;
      height: 45px;
    }
  }

  .divPhone {
    a.newMsg img{
      border:2px solid red;
    }
    a {
      text-decoration: none;

      img.imgWhatsapp {
        max-width: 40px;
        border-radius: 50%;
      }
      
    }
    .msgCountBadge{
      background-color: red;
      color: white;
      padding: 3px 6px;
      border-radius: 50%;
      font-size: 12px;
      position: relative;
      bottom: 20px;
      right: 20px;
    }
  }  
}
