<div class="customers-container">
    <div class="bar bar-header bar-light">
        <h1 class="title">Clientes</h1>
    </div>
    <ion-spinner icon="android" ng-if="vm.showLoader"></ion-spinner>

    <div class="input-group buscar">
        <span class="input-group-addon icon ion-search" id="sizing-addon2"></span>
        <input type="text" class="form-control" placeholder="Buscar" ng-model="vm.search" aria-describedby="sizing-addon2">
    </div>   
    
    <table id="table" class="table table-hover">
        <thead>
            <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Documento</th>            
            </tr>
        </thead>
        <tbody>       
            <tr ng-click="vm.onTapCustomer(customer)" ng-repeat="customer in vm.customers | orderBy : 'name' | filter: vm.search">
                <td> {{customer.Name}} </td>
                <td> {{customer.Email}}</td>
                <td> {{customer.DocumentNumber}} </td>                
            </tr>
        </tbody>
    </table>
</div>






<!-- <ion-view view-title="Customers Foneclube">
    <div class="bar bar-header bar-light">
      <h1 class="title">Clientes</h1>
    </div>

    <ion-content class="posicao-inicial" overflow-scroll="true">
        <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="text" placeholder="Buscar" ng-model="vm.search">
        </label>
        <ion-spinner icon="android" ng-if="vm.showLoader"></ion-spinner>       
        <ul class="list">
            <a class="item" ng-repeat="customer in vm.customers | orderBy : 'name' | filter: vm.search">
                <div on-tap="vm.onTapCustomer(customer)">
                    <h2>{{customer.Name}}</h2>
                    <p>{{customer.Email}}</p>
                    <p>Documento: {{customer.DocumentNumber}}</p>
                </div>
            </a>
        </ul>

    </ion-content>
</ion-view> -->