<ion-modal-view ng-controller="BoletoModalController as vm">
    <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title" ng-if="!vm.etapaConfirmacao">Pagamento por boleto</h1>
        <h1 class="title" ng-if="vm.etapaConfirmacao">Confirmação de pagamento</h1>
        <button class="button button-clear button-primary" ng-click="modal.hide()">Fechar</button>
    </ion-header-bar>
    <ion-content class="padding">

        <div class="text-center">
            <h3 style="text-align: center;">{{vm.customer.Name}}</h3>
        </div>

        <div ng-if="vm.etapaDados">
            <label class="item item-input">
                <span class="input-label">Quantia: </span>
                <input ng-model="vm.amount" money-input type="tel">
            </label>
             <label class="item item-input">
                <span class="input-label">Observação: </span>
                <input ng-model="vm.comment" type="text">
            </label>
            <button on-tap="vm.onTapConfirmarPagamento()" ng-disabled="vm.comment.length == 0 || vm.amount.length == 0 || vm.disableTapPay" class="button button-block button-dark">
                Cobrar
            </button>
        </div>
        
        <div ng-if="vm.etapaConfirmacao">
            <label class="item item-input">
                <span class="input-label">Quantia: </span>
                <span class="input-label">{{vm.amount/100 | currency:"R$" : 2}}</span>
            </label>
            <label class="item item-input">
                <span class="input-label">Método: </span>
                <span class="input-label">Cobrança com boleto</span>
            </label>
            <div class="item item-divider" ng-if="vm.customer.histories.length > 0"><!---->
                Ultima Cobranca
            </div>

            <ul class="list">
                <a class="item" ng-repeat="history in vm.customer.histories|limitTo:1">

                    <div>
                        <p>Data e hora: <strong>{{history.PaymentDate}}.</strong> </p>
                        <p>Comentário: <strong>{{history.Comment}}.</strong> </p>
                        <p>Valor: <strong>{{history.Ammount / 100 }} R$ </strong> </p>
                        <p>Tipo: <strong>{{history.descriptionType}} </strong> </p>
                        <p>Agente: <strong>{{history.CollectorName }} </strong> </p>
                        <p ng-if="history.StatusPayment != undefined" >Status pagamento: <strong>{{history.StatusPayment }} </strong> </p>
                    </div>
                </a>
            </ul>
            <div class="list">
                <h2>{{vm.message}}</h2>
            </div>
            <div ng-if="vm.disableTapPay || !vm.cobrancaRealizada">
                <button on-tap="vm.onTapPagar()" class="button button-block button-balanced" ng-disabled="vm.disableTapPay">
                    Cobrar
                </button>
                <button on-tap="vm.onTapCancel()" class="button button-block button-dark" ng-disabled="vm.disableTapPay">
                    Cancelar
                </button>
            </div>
            <div ng-if="vm.cobrancaRealizada">
                <h4 style="text-align: center;">Cobrança realizada com sucesso.</h4>
                <button on-tap="vm.onTapCancel(1); modal.hide()" class="button button-block button-dark">
                    Ok
                </button>
            </div>
        </div>
    </ion-content>
</ion-modal-view>