<div id="divStatusCharging" class="row header-filter headernone" ng-init="vm.onPageLoad()">
    <fone-header title=""></fone-header>
  <div class="clearfix"></div>
  <div class="row" id="divTopFilters">
    <div id="divAll" class="form-group col-xs-6 col-md-2">
      <p>
        <input type="checkbox" ng-model="vm.filterTextInAllCols"> All</p>
      <input type="text" class="form-control" placeholder="BUSCA" ng-blur="vm.filterClients()" ng-model="vm.searchText"/>
    </div>


    <div class="form-group col-xs-12 col-md-4">
      <div id="divAIFilter">
        <p>
          <input type="checkbox" ng-click="vm.filterClients()" ng-model="vm.includeActive"> So Ativo</p>
        <p>
          <input type="checkbox" ng-change="vm.filterClients()" ng-model="vm.includeInActive"> So InAtivo</p>
        <p>
          <input type="checkbox" ng-change="vm.filterClients()" ng-model="vm.excludeProblema"> !Problema</p>
      </div>
      <div id="divColorFilters">
          <p>
            <input type="checkbox" ng-change="vm.filterClients()" ng-model="vm.includeStatusGreen">
            <span id="spnFilterGreen"></span>
          </p>
          <p>
            <input type="checkbox" ng-change="vm.filterClients()" ng-model="vm.includeStatusYellow">
            <span id="spnFilterYellow"></span>
          </p>
          <p>
            <input type="checkbox" ng-change="vm.filterClients()" ng-model="vm.includeStatusRed">
            <span id="spnFilterRed"></span>
          </p>
        </div>
        <div id="divExcFltr">
            <p>
                <input type="checkbox" ng-change="vm.filterClients()" ng-model="vm.excludeFather">
                Exclude Father
              </p>
              <p>
                <input type="checkbox" ng-change="vm.filterClients()" ng-model="vm.excludeAddress">
                Exclude Address
              </p>
        </div>
    </div>
    <div class="col-md-1 col-xs-6 form-group">        
          <p>
              <input type="checkbox" ng-change="vm.filterClients()" ng-model="vm.excludeWhatsappUsers">
              <img src="../../content/img/message-red.png"/>
            </p>
            <p style="margin-top: 5px;">
              <input type="checkbox" ng-change="vm.filterClients()" ng-model="vm.includeWhatsappUsers">
              <img src="../../content/img/message-green.png"/>
            </p>
    </div>

    <div class="col-md-2 col-xs-6 form-group" id="divNameFltr">
      <span style="color:green;">Name Filter</span>
      <a href="javascript:void(0)"><i class="fa fa-save"></i></a> 
    </div>
    <div class="col-md-2 form-group col-xs-6 text-right">
      <div class="btn-group">
        <button class="btn btn-default busca-status " style="margin-top:0px" data-ng-click="vm.exportToExcel()">
            <i class="fa fa-file"></i>  
          Export To Excel
          </button>          
        </div>
    </div>
  </div>

  <div id="loadingDiv" ng-show="vm.loading">
    <div class="row">
      <div class="col-md-12">
        <img src="../../content/img/Loading2.gif" style="width:50px" />
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <!-- Start -->
      <div class="grid-container">
        <kendo-grid id="customerGridData" options="vm.customerGridOptions" k-data-source="vm.customerDataSource"></kendo-grid>
      </div>
      <!-- End -->
      <div class="clearfix"></div>
    </div>
  </div>

</div>


<style>
  #loadingDiv {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: #dcdcdc;
    width: 100%;
  }

  .header-filter {
    padding-top: 0;
  }

  #header-filter-top {
    margin-top: 0px !important;
  }

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    opacity: 1;
  }

  .m-t-44 {
    margin-top: 0px;
  }

  .otherOptions ul li {
    padding: 0;
    float: left;
    list-style: none;
    padding-right: 30px;
  }

  .k-grid-excel {
    display: none;
  }

  .k-filter-row th,
  .k-grid-header th.k-header {
    height: 40px;
  }

  .k-grid-header th.k-header {
    padding-top: 5px;
    padding-bottom: 5px;
    vertical-align: middle;
  }

  .break-word {
    word-wrap: break-word;
    vertical-align: middle;
    float: left;
  }

  .k-grid td.k-state-selected:hover,
  .k-grid tr:hover {
    color: #fff;
    background-color: #35baf6;
  }

  .grid-container {
    margin-right: 4%;
    font-size: 14px;
  }

  .form-control {
    padding: 0px 4px;
    border-radius: 0px;
  }
</style>
<script src="https://code.jquery.com/jquery-migrate-3.0.0.min.js"></script>