.container-status-cobranca{
    flex-direction: column;    
    color: white;
}

.force-select {  
    -webkit-user-select: all;  /* Chrome 49+ */
    -moz-user-select: all;     /* Firefox 43+ */
    -ms-user-select: all;      /* No support yet */
    user-select: all;          /* Likely future */   
  }

.container-data{

    padding-top: 15px;
    padding-bottom: 15px;
}  

.busca-status{
    margin-top: 25px;
}

.titulos-status{
    font-weight: bold;
    color: red;
}

.totalizadores{
    color: black;
    float: right;
    margin-right: 2%;
}

.status-red{
    color: red;
}

.status-yellow{
    color: yellow;
}

.status-green{
    color: green;
}

.status-blue{
    color: blue;
}

.massive-selection{
    font-size: 12px;
    color: gray;
}

.loading-status{
    font-size: 20px;
    position: relative;
    left: 50%;
    margin-left: -120px;
}