// .container-status-cobranca{
//     flex-direction: column;    
//     color: white;
// }

// .force-select {  
//     -webkit-user-select: all;  /* Chrome 49+ */
//     -moz-user-select: all;     /* Firefox 43+ */
//     -ms-user-select: all;      /* No support yet */
//     user-select: all;          /* Likely future */   
//   }

// .container-data{

//     padding-top: 15px;
//     padding-bottom: 15px;
// }  

.busca-status{
    margin-top: 25px;
}

.titulos-status{
    font-weight: bold;
    color: red;
}

.totalizadores{
    color: black;
    float: right;
    margin-right: 2%;
}

.status-red{
    color: red;
}

.status-yellow{
    color: yellow;
}

.status-grey{
    color: grey;
}

.status-green{
    color: green;
}

.status-blue{
    color: blue;
}

.massive-selection{
    font-size: 12px;
    color: gray;
}

.loading-status{
    font-size: 20px;
    position: relative;
    left: 55%;
    margin-left: -120px;
}

.buttom-mode {
    cursor: pointer;
}

.action-buttons{
    float: left;
    position: relative;
}

.btnb {

    padding: 3px 6px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.borda-topo-estoque{
    margin-top: 160px;
    position: relative;
    // width: 50px;
    // height: 50px;
}

.header-filter
{
    margin-top: 43px;
    position: fixed;
    width: 93.5%;
    background-color: white;
}

.subheader-filter
{
    margin-top: 118px; 
    position: fixed;
    width: 93.5%;
    background-color: white;
}

.table-scroll thead {
    display: table;
    width: 93.5%;
    table-layout: fixed;
    margin-top: -120px;
    position: absolute;
    background-color: white;
    background-color: !important white;
    border-bottom: 1px !important solid white;
    
}

.table-scroll tbody {
    margin-top: 24px;
    overflow-y: auto;
    display: block;
    width: 100%;
    table-layout: fixed;
    // height: 100%;
    
}

.table-scroll tr {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
}


.table-scroll td {
    height: 47px; // needed in order to keep rows from collapsing
}