
<div class="home" ng-class="{'force-select': vm.selecaoMassiva }">
        <fone-header title="Status de cobrança"></fone-header> 
        
        <div class="row container-data">
            <div class="form-group col-xs-6 col-sm-1">
                <label for="mes">Mês:</label>
                <input type="number" class="form-control" placeholder="Mês" ng-model="vm.month" aria-describedby="sizing-addon2" id="mes">
            </div>
            <div class="form-group col-xs-6 col-sm-1">
                <label for="ano">Ano:</label>
                <input type="number" min="2000"  class="form-control" placeholder="Ano" ng-model="vm.year" aria-describedby="sizing-addon2" id="ano">
            </div>
    
            <div class="form-group col-xs-6 col-sm-1">
                <button class="btn btn-primary busca-status" ng-click="vm.searchStatusCharging()" ng-disabled="vm.resquenting || vm.loading">Buscar</button>
            </div>
    
    
            <div class="form-group col-xs-2 col-sm-1 totalizadores massive-selection">
                <input type="checkbox" class="form-check-input" ng-model="vm.selecaoMassiva">
                <label class="form-check-label" for="exampleCheck1">seleção massiva</label>
              </div>
    
            <div class="form-group col-xs-1 col-sm-1 totalizadores">
                <label>Clientes ativos</label>
                <p ng-show="!vm.loading">{{vm.totalCustomers}}</p>
            </div>
    
            <div class="form-group col-xs-1 col-sm-1 totalizadores">
                <label>Clientes cobrados</label>
                <p ng-show="!vm.loading">{{vm.totalCustomersCharged}}</p>
            </div>
    
            <div class="form-group col-xs-1 col-sm-1 totalizadores">
                <label>Clientes não cobrados</label>
                <p ng-show="!vm.loading">{{vm.totalCustomersNotCharged}}</p>
            </div>
    
            <div class="form-group col-xs-1 col-sm-1 totalizadores">
                <label>Valor total cobrado</label>
                <p ng-show="!vm.loading">R$: {{vm.totalCharged}}</p>
            </div>
    
            <div class="form-group col-xs-1 col-sm-1 totalizadores">
                <label>Valor total recebido</label>
                <p ng-show="!vm.loading && vm.totalReceivedReady" >R$: {{vm.totalReceived}}</p>
            </div>
    
            
    
            <!-- <div class="form-group col-xs-12 col-sm-6">
                <label>Resultado</label>
                <p>R$: 50,00</p>
            </div> -->
          
        </div>
    
        <table class="table table-hover">
            <div ng-if="vm.loading" class="loading-status">{{vm.loadingMessage}}</div>
          <thead ng-show="!vm.loading">
            <tr>
              
              <th scope="col"><strong>Status</strong></th>
              <th scope="col"><strong>Última Cobrança</strong></th>
              <th scope="col"><strong>Ultimo pagamento</strong></th>
              <th scope="col"><strong>Nome</strong></th>
              <!-- <th scope="col"><strong>Telefones</strong></th>
              <th scope="col"><strong>Detalhes linha</strong></th> -->
              <th scope="col"><strong>Tipo</strong></th>
              <th scope="col"><strong>Valor cobrado cliente</strong></th>
              <!-- <th scope="col"><strong>Teste</strong></th> -->
              
            </tr>
          </thead>
          <tbody ng-repeat="customer in vm.customers" ng-show="!vm.loading">
    
            <tr>
              
              <td ng-class="{'status-red': !customer.Charged, 'status-green': customer.status == 'PAGO', 'status-blue': customer.status == 'PENDENTE'}">
                  <strong>{{customer.selectedCharge.StatusDescription}}</strong>
                  <strong ng-if="customer.selectedCharge.StatusDescription == undefined || customer.selectedCharge.StatusDescription == null"> NÃO COBRADO</strong>
              </td>
    
              <td ng-class="{'status-green': customer.dataIgual == true}"><strong>{{customer.chargingDate}}</strong></td>
    
              <td><strong></strong>{{customer.LastPaidDate}}</strong></td>

              <td>{{customer.Name}}</td>
    
              <!-- <td>
                  <select
                  ng-if="customer.Phones.length > 0" 
                  ng-show="customer.Phones.length > 1" 
                  ng-model="customer.selectedPhone" 
                  ng-options="item.DDD + item.Number for item in customer.Phones"
                  ng-init="customer.selectedPhone = customer.Phones[0]" >
                </select>
    
                <div ng-if="customer.Phones.length == 1" >{{customer.Phones[0].DDD + customer.Phones[0].Number}}</div>
                <div ng-if="customer.Phones.length == 0" >SEM LINHA</div>
              </td>
    
              <td>
                  {{customer.selectedPhone.PlanDescription}}
              </td> -->
    
              <td>
                <div ng-if="customer.ChargingValidity[0].Charged">
                    {{ customer.ChargingValidity[0].PaymentType == 1 ? 'CARTÃO' : 'BOLETO' }}
                </div>
    
              </td>
    
              <td> 
                  <select
                  ng-if="customer.ChargingValidity.length > 0" 
                  ng-show="customer.ChargingValidity.length > 1"
                  ng-model="customer.selectedCharge" 
                  ng-options="vm.formatAmmout(item.Ammount) for item in customer.ChargingValidity"
                  ng-init="customer.selectedCharge = customer.ChargingValidity[0]" >
                </select>
                
          
                <div ng-if="customer.ChargingValidity.length == 1" >{{ customer.ammout}}</div>
                
              
              </td>
    
              <!-- <td>
                  <select
                  ng-if="customer.ChargingValidity.length > 0" 
                  ng-model="customer.selectedCharge" 
                  ng-options="vm.formatAmmout(item.Ammount) for item in customer.ChargingValidity"
                  ng-init="customer.selectedCharge = customer.ChargingValidity[0]" >
                </select>
    
              </td> -->
    
    
        
            </tr>
       
          </tbody>
        </table>
    
      </div>
      