<div class="home" ng-class="{'force-select': vm.selecaoMassiva }">
    <fone-header title="Status de cobrança"></fone-header>
    <div class="row header-filter">
        <div class="form-group col-xs-6 col-sm-1">
            <label for="mes">Mês:</label>
            <input type="number" class="form-control" placeholder="Mês" ng-model="vm.month"
                   aria-describedby="sizing-addon2" id="mes">
        </div>
        <div class="form-group col-xs-6 col-sm-2">
            <label for="ano">Ano:</label>
            <input type="number" min="2000" class="form-control" placeholder="Ano" ng-model="vm.year"
                   aria-describedby="sizing-addon2" id="ano">
        </div>

        <div class="form-group col-xs-2 col-sm-2" style="margin-top: 30px;">
            <input type="checkbox" class="form-check-input" ng-model="vm.selecaoMassiva">
            <label class="form-check-label" for="exampleCheck1">Seleção massiva</label>
        </div>

        <div class="form-group col-xs-2 col-sm-2" style="margin-top: 30px;">
            <input type="checkbox" class="form-check-input" ng-change="vm.changeFilter(true)" ng-model="vm.cobrancaAtiva">
            <label class="form-check-label" for="exampleCheck1">Cobranças ativas</label>
        </div>

        <div class="form-group col-xs-2 col-sm-2" style="margin-top: 30px;">
            <input type="checkbox" class="form-check-input" ng-change="vm.changeFilter(true)" ng-model="vm.clienteAtivo">
            <label class="form-check-label" for="exampleCheck1">Clientes Ativos</label>
        </div>

        <div class="form-group col-xs-2 col-sm-1">
            <button class="btn btn-primary busca-status" ng-click="vm.searchStatusCharging()"
                    ng-disabled="vm.resquenting || vm.loading">Buscar
            </button>
        </div>


        <div class="form-group col-xs-2 col-sm-1">
            <button class="btn btn-primary busca-status" ng-click="vm.onTapUpdatePagarme()">{{vm.mensagemPagarme}}
            </button>
        </div>


    </div> 

    <div class="row subheader-filter">
        <div class="form-group col-xs-2 col-sm-2">
            <label>Clientes ativos</label>
            <p ng-show="!vm.loading">{{vm.totalCustomers}}</p>
        </div>

        <div class="form-group col-xs-1 col-sm-2">
            <label>Clientes cobrados</label>
            <p ng-show="!vm.loading">{{vm.totalCustomersCharged}}</p>
        </div>

        <div class="form-group col-xs-1 col-sm-2">
            <label>Clientes não cobrados</label>
            <p ng-show="!vm.loading">{{vm.totalCustomersNotCharged}}</p>
        </div>

        <div class="form-group col-xs-1 col-sm-2">
            <label>Valor total cobrado</label>
            <p ng-show="!vm.loading">R$: {{vm.totalCharged}}</p>
        </div>

        <div class="form-group col-xs-1 col-sm-2">
            <label>Valor total recebido</label>
            <p ng-show="!vm.loading && vm.totalReceivedReady">R$: {{vm.totalReceived}}</p>
        </div>
    </div>

    <!--<table class="table table-hover">-->
    <div ng-if="vm.loading" style="margin-top: 358px; position: fixed" class="loading-status">{{vm.loadingMessage}}</div>
    <div id="table" ng-show="!vm.loading" style="margin-top: 300px;">
        <table ng-table="vm.tableParams" show-filter="true" class="table table-scroll">
            <tr ng-repeat="customer in $data  | orderBy:['-chargingDate']">
                <td title="'Última Cob.'" filter="{ chargingDate: 'text'}" ng-class="{'status-green': customer.dataIgual == true}" sortable="'chargingDate'"> 
                    <span style="font-weight: bold;">{{customer.chargingDate}}</span> 
                </td>
                <td title="'Dias'" sortable="'chargingDateDiffDays'" filter="{ chargingDateDiffDays: 'text'}"> 
                    <span>{{customer.chargingDateDiffDays }}</span> 
                </td>
                <td title="'Status'" sortable="'statusType'" filter="{statusType: 'select'}" filter-data="vm.tiposStatus">
                    <!--<td ng-class="{'status-red': !customer.Charged, 'status-green': customer.Charged && customer.selectedCharge.StatusDescription != 'CARREGANDO' && customer.selectedCharge.StatusDescription != 'INVÁLIDO', 'status-blue': customer.selectedCharge.StatusDescription == 'PENDENTE', 'status-grey': customer.selectedCharge.StatusDescription == 'CARREGANDO' }">-->
                        <!--<strong>{{customer.selectedCharge.StatusDescription}}</strong>-->
                        <!--<strong ng-if="customer.selectedCharge.StatusDescription == undefined || customer.selectedCharge.StatusDescription == null">-->
                            <!--NÃO COBRADO</strong>-->
        
                        <div ng-if="customer.statusType == vm.statusType.NAO_COBRADO">
                            <strong><p>NÃO COBRADO</p></strong>
                        </div>
        
                        <div  ng-if="customer.statusType == vm.statusType.PAGO">
                            <strong><p style="color: green;">PAGO</p></strong>
                        </div>
                        
                        <div  ng-if="customer.statusType == vm.statusType.COBRADO">
                            <strong><p style="color: blue;">COBRADO</p></strong>
                        </div>
        
          
                        <svg height="10" width="10" ng-if="customer.statusType == vm.statusType.CARREGANDO">
                            <circle cx="5" cy="5" r="5" stroke="" stroke-width="3" fill="grey" />
                        </svg>
        
                        <div  ng-if="customer.statusType == vm.statusType.VENCIDO">
                            <strong><p style="color: red;">VENCIDO</p></strong>
                        </div>
        
                        <div  ng-if="customer.statusType == vm.statusType.REFUNDED">
                            <strong><p style="color: purple;">REFUNDED</p></strong>
                        </div>
        
                        <!-- customer.selectedCharge.Expired -->
        
                        <!-- <svg height="10" width="10" ng-if="customer.selectedCharge.Expired == true">
                            <circle cx="5" cy="5" r="5" stroke="" stroke-width="3" fill="yellow" />
                        </svg> -->
                    </td>
                    <td title="'R$ Cobrado'" sortable="'ammout'" filter="{ammout: 'text'}">
                        <select
                                ng-if="customer.ChargingValidity.length > 0"
                                ng-show="customer.ChargingValidity.length > 1"
                                ng-model="customer.selectedCharge"
                                ng-options="vm.formatAmmout(item.Ammount) for item in customer.ChargingValidity"
                                ng-init="customer.selectedCharge = customer.ChargingValidity[0]"
                                ng-change="vm.changeSelect(customer.selectedCharge)">
                        </select>
                        <div ng-if="customer.ChargingValidity.length == 1">{{ customer.ammout}}</div>
                    </td>
                    <td title="'Tipo'" sortable="'customer.statusPayment'" filter="{statusPayment: 'select'}" filter-data="vm.tiposPagamento">
                        <div ng-if="customer.ChargingValidity[0].Charged">
                            <!-- {{ customer.ChargingValidity[0].PaymentType == 1 ? 'CARTÃO' : 'BOLETO' }} -->
        
                            <a ng-if="customer.selectedCharge.PaymentType != 1" ng-href="{{customer.selectedCharge.BoletoLink}}" target="_blank">BOLETO</a>
                            
                            <p ng-if="customer.selectedCharge.PaymentType == 1">CARTÃO</p>
                        </div>
                    </td>
                    <td title="'Status'" sortable="'customer.statusAtiva'" filter="{statusAtiva: 'select'}" filter-data="vm.tipoAtiva">
                        {{customer.selectedCharge.Canceled ? 'Cancelada' : 'Ativa'}}
        
                    </td>
                    <td title="'Ação'" sortable="'customer.statusAtiva'">
                        <button ng-if="customer.statusAtiva == vm.AtivoType.ATIVA" 
                        class="btnb btn-danger" 
                        ng-click="vm.onDesativarBoleto(customer.selectedCharge)"
                        ng-disabled="vm.resquenting || vm.loading">
                        C
                        </button>
        
                        <button ng-if="customer.statusAtiva == vm.AtivoType.CANCELADA"  
                        class="btnb btn-info" 
                        ng-click="vm.onAtivarBoleto(customer.selectedCharge)"
                        ng-disabled="vm.resquenting || vm.loading">
                        A
                        </button>
        
                    </td>
                    <td title="'Vencimento'" filter="{BoletoExpires: 'text'}" sortable="'selectedCharge.BoletoExpires'">{{customer.selectedCharge.BoletoExpires}}</td>
                    <td title="'Ultimo pag.'" sortable="'LastPaidDate'" filter="{ LastPaidDate: 'text'}">{{customer.LastPaidDate}}</td>
                    <td title="'Dias'" sortable="'LastPaidDateDiffDays'" filter="{ LastPaidDateDiffDays: 'text'}">{{ customer.LastPaidDateDiffDays }}</td>
                    <td title="'R$ Pago'" sortable="'ammout'" filter="{ ammout: 'text'}">
                        <select
                                ng-if="customer.ChargingValidity.length > 0"
                                ng-show="customer.ChargingValidity.length > 1"
                                ng-model="customer.selectedCharge"
                                ng-options="vm.formatAmmout(item.Ammount) for item in customer.ChargingValidity"
                                ng-init="customer.selectedCharge = customer.ChargingValidity[0]"
                                ng-change="vm.changeSelect(customer.selectedCharge)">
                        </select>
        
                        <div ng-if="customer.Charged && customer.selectedCharge.StatusDescription != 'CARREGANDO' && customer.selectedCharge.StatusDescription != 'PENDENTE'">
                            <div ng-if="customer.ChargingValidity.length == 1">{{ customer.ammout}}</div>
                        </div>
                        
        
        
                    </td>
                    <td title="'Nome'" sortable="'Name'" filter="{ Name: 'text'}">{{customer.Name}}</td>
            </tr>
        </table>
    </div>
</div>
      