// element.style {
//     float: left;
//     position: absolute;
//     background-color: white;
//     padding-top: 10px;
// }
.borda-topo-estoque{
    margin-top: 160px;
    position: relative;
    // width: 50px;
    // height: 50px;
}

// table > thead{
//     // float: left;
//     // position: absolute;
//     background-color: white;
//     // padding-top: 10px;
//     margin-top: -160px;
//     width: 90%;
// }

// // input{
// //     margin-left: 50%
// // }

// tbody{
//     // position: absolute;
//     margin-top: 200px;
// }

// .testes{
//     margin-top: 200px;
// }

.table-scroll thead {
    display: table;
    width: 92%;
    table-layout: fixed;
    margin-top: -120px;
    position: absolute;
    background-color: white;
}

.table-scroll tbody {
    // max-height: 500px;
    overflow-y: auto;
    display: block;
    width: 100%;
    table-layout: fixed;
    // height: 100%;
    
}

.table-scroll tr {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
}


.table-scroll td {
    height: 47px; // needed in order to keep rows from collapsing
}