.login-container {
    @mixin flexDefault() {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;    
    }
    background-color: #F7F7F7;    
    background-repeat: no-repeat;
    background-position: center;
    @include flexDefault();
    width: 100vw;
    height: 100vh;

    form {
        color: #8c8c8c;
        margin-left: 10px;
        margin-right: 10px;
    }
    .box{        
        position: relative;    
        height: 410px;
        top: 40px;
        left: 0;
        z-index: 200;
        right: 0;
        width:400px;
        color: #FFF;
        border-radius: 3px;
        background: #FFF;
        margin-bottom: 100px;        
        overflow: hidden;

        #header{
            background: #35baf6;
            position: relative;
            height: 100px;
            width: 100%;
            margin-bottom: 30px;
            .icon-header {
                img {
                    width: 40px;
                    height: 40px;
                }
                @include flexDefault();
                height: 88px;
            }
        }
           
        #bottom-head-teste{
          position: relative;
          background: #35baf6;
          height: 18px;
          color: white;
        }

        #bottom-head{
            position: relative;
            background: #35baf6;
            height: 18px;
            color: white;
        }
        
        #bottom-head::after{
        content: '';
            width: 0px;
            height: 0px;
            display: block;
            position: absolute;
            margin: auto;
            left: 0;
            right: 0;
            bottom: 0;
            border-bottom: 7px solid white;
            border-right: 7px solid rgba(0,0,0,0);
            border-left: 7px solid rgba(0,0,0,0);
            border-top: 7px solid rgba(0,0,0,0);
        }
        
        #footer-box{
            @include flexDefault();      
            height: 30px;
            background: #35baf6;
            position: absolute;
            bottom: 0;             
        }
    }  
}



// -------------------------------------
// Settings
// -------------------------------------


$v-accordion-default-theme:         true !default;


// Accordion
// -------------------------------------

$v-accordion-spacing:               20px !default;

$v-pane-border-color:               #D8D8D8 !default;
$v-pane-expanded-border-color:      #2196F3 !default;
$v-pane-icon-color:                 #2196F3 !default;
$v-pane-hover-color:                #2196F3 !default;
$v-pane-disabled-opacity:           0.6 !default;

$v-pane-expand-animation-duration:  0.5s  !default;
$v-pane-hover-animation-duration:   0.25s !default;



/* Base styles
 ***************************************/


v-accordion {
  display: block;
}

v-pane {
  display: block;

  &.is-expanded {
    > v-pane-content {
      > div {
        display: visible;
      }
    }
  }

  &[disabled] > v-pane-header {
    opacity: $v-pane-disabled-opacity;
    pointer-events: none;
  }
}

v-pane-header {
  display: block;
  position: relative;
  cursor: pointer;
  user-select: none;
  outline: none;

  &:focus {
    outline: none;
  }

  > div {
    display: block;
  }
}

v-pane-content {
  display: block;
  position: relative;
  overflow: hidden;
  max-height: 0px;

  > div {
    visibility: none;
  }
}



@if $v-accordion-default-theme {
  /* Theme: default
   ***************************************/


  .vAccordion--default {

    v-accordion {
      margin-top: $v-accordion-spacing;
      padding-left: $v-accordion-spacing;
    }

    v-pane-content {
      > div {
        padding-bottom: $v-accordion-spacing;
        opacity: 0;
        transform: translate3d(0, 30px, 0);
        transition: all $v-pane-expand-animation-duration;
      }
    }

    v-pane {
      overflow: hidden;

      &.is-expanded {
        > v-pane-header {
          border-bottom-color: $v-pane-expanded-border-color;

          &::after {
            transform: rotate(90deg);
            opacity: 0;
          }
          &::before {
            transform: rotate(0deg);
          }
        }

        > v-pane-content > div {
          opacity: 1;
          transform: translate3d(0, 0, 0);
        }
      }

      &[disabled] v-pane-header {
        &::after,
        &::before {
          display: none;
        }
    	}
    }

    v-pane-header {
      padding: 5px 0;
      margin-bottom: $v-accordion-spacing;
      border-bottom: 2px solid $v-pane-border-color;
      transition: all $v-pane-hover-animation-duration;

      &::after,
      &::before {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        right: 0;
        width: 10px;
        height: 1px;
        background-color: $v-pane-icon-color;
        transform-origin: 50% 50%;
        will-change: transform;
        transition: all $v-pane-hover-animation-duration;
      }

      &::before {
        transform: rotate(-90deg);
      }

      &:hover,
      &:focus {
        color: $v-pane-hover-color;
      }
    }
  }
}
