.pane {
    overflow-y: auto;
}
.cadastro-container {   
    display: flex;
    flex: 1 1 auto;
    height: 100%;     
    flex-direction: column;                         
    background-color: $background-default;   
}

.botao-upload-cadastro {
    height: 69px;
    width: 198px;
    background-color: #dfdfdf;
    text-align: center;
    margin-left: 12px;
    img {
        height: 40px;
        width: 40px;
        position: absolute;
        left: 35px;
        top: 14px;
    }
    input {
        position: absolute;
        top: 0;
        width: 198px;
        height: 69px;
        font-size: 23px;
        cursor: pointer;
        opacity: 0;
        direction: ltr;
    }
}
.thumb-image {
    height: 363px;
    border: solid;
    width: 462px;
    margin-top: 10px;
    border-width: 2px;
    border-color: #35baf6;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}