.mass-charging-container {   
    display: flex;
    flex: 1 1 auto;
    height: 100%;     
    flex-direction: column;                         
    background-color: $background-default;

    .cliente {
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
    }

    .linhas {
        display: flex;
        flex-direction: row;
        margin-left: 20px;
        justify-content: space-between;
        margin-top: 5px;
        align-items: baseline;
    }

    .botao-cobrar {
        width: 160px;
    } 

    .simple-toast {
        position: absolute;
        width: 70%;
        height: 42px;
        top: 38px;
        background-color: rgba(0, 0, 0, 0.52);
        border-radius: 8px;
        color: #d4d3d3;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        align-self: center;
        font-size: 16px;
    }
    div .striped:nth-child(odd) {
        background-color: #d8d8d8;
    }

    .btn-buscar {
        margin-left: 15px;
    }

    .no-data {
        display: flex;
        align-self: center;
        justify-content: center;
        margin-bottom: 30px;
        margin-top: 30px;
    }

    .margin-top {
        margin-top: 42px;
    }

}