.mass-charging-container {   
    display: flex;
    flex: 1 1 auto;
    height: 100%;     
    flex-direction: column;                         
    background-color: $background-default;

    .cliente {
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
    }

    .linhas {
        display: flex;
        flex-direction: row;
        margin-left: 20px;
        justify-content: space-between;
        align-items: center;
        height: 52px;
        border-radius: 3px;

        label {
            margin-bottom: 0px !important;
        }
    }

    .column-comentario {
        display: flex;
        flex-direction: column;
        width: 180px;

        input {
            width: 180px;
        }
    }

    .column-valor {
        display: flex;
        flex-direction: column;
        width: 95px;

        input {
            width: 95px;
        }
    }

    .botao-cobrar {
        width: 150px;
        outline: none;
        margin-right: 6px;
    }

    .checkbox {
        outline: none !important;
        margin-left: 4px;
    }

    .check-all {
        margin-bottom: 22px;
        color: blue;
        text-decoration: underline;
        cursor: pointer;
        width: 159px;
    }

    .tipo-cobranca {
        input {
            outline: none;
        }
    }

    .simple-toast {
        position: absolute;
        width: 70%;
        height: 42px;
        top: 38px;
        background-color: rgba(0, 0, 0, 0.52);
        border-radius: 8px;
        color: #d4d3d3;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        align-self: center;
        font-size: 16px;

        p {
            margin: 0px !important;
        }
    }

    .striped:nth-child(odd) {
        background-color: #dedede;
    }

    .fundo-verde {
        background-color: #c1ffc1;
        border-radius: 3px;
        height: 30px;
        display: flex;
        align-items: center;
    }

    .btn-buscar {
        margin-left: 15px;
    }

    .no-data {
        display: flex;
        align-self: center;
        justify-content: center;
        margin-bottom: 30px;
        margin-top: 30px;
    }

    .margin-top {
        margin-top: 42px;
    }

    .btn-cobranca-massa {
        margin-top: 40px;
    }

}