.mass-charging-container {   
    display: flex;
    flex: 1 1 auto;
    height: 100%;     
    flex-direction: column;                         
    background-color: $background-default;

    .no-outline {
        outline: none !important;
    }

    .floating-button {
        margin: 0px;
        position: fixed;
        bottom: 7vh;
    }
    
    .check-all {
        margin-bottom: 22px;
        color: blue;
        text-decoration: underline;
        cursor: pointer;
        width: 159px;
    }


    .simple-toast {
        position: absolute;
        width: 70%;
        height: 42px;
        top: 38px;
        background-color: rgba(0, 0, 0, 0.52);
        border-radius: 8px;
        color: #d4d3d3;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        align-self: center;
        font-size: 16px;

        p {
            margin: 0px !important;
        }
    }

    .striped:nth-child(odd) {
        background-color: #dedede;
    }

    .row-cliente {
        background-color: #c1ffc1;
        border-radius: 3px;
        min-height: 143px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
        width: 100%;
        position: relative;

        .cliente {
            position: absolute;
            display: block;
            top: 4px;
            left: 10px;
        }

        .linhas {
            display: flex;
            flex-direction: column;
            min-width: 400px;
            width: 40%;

            .linha {
                display: flex;
                flex-direction: row;
            }
            .linha-number {
                margin-right: 10px;
                margin-left: 20px;
                width: 104px;
            }

            .linha-nickname {
                margin-right: 10px;
                width: 150px;
            }
            
            .linha-valor {
                margin-right: 10px;
                width: 60px;
            }
        }

        .payment-set {
            min-width: 370px;
            width: 40%;

            .form-control {
                font-size: 13px !important;
                height: 30px !important;
                width: 180px !important;
            }

            label {
                width: 150px;
            }

            .column-payment {
                display: flex;
                align-items: center;
                width: 100%;
                margin-bottom: 3px;
            }
        }

        .button-box {
            width: 20%;
        }
    

    
        .checkbox {
            outline: none !important;
            margin-left: 4px;
        }
    }

    .botao-cobrar-cliente {
        outline: none;
        position: absolute;
        float: right;
        right: 0;
        top: 0;
        margin-right: 20px;
        margin-top: 20px;
        z-index: 1;
    }

    .btn-buscar {
        margin-left: 15px;
        margin-top: 37px;
        width: 100px;
    }

    .no-data {
        display: flex;
        align-self: center;
        justify-content: center;
        margin-bottom: 30px;
        margin-top: 30px;
    }

    .margin-top {
        margin-top: 42px;
    }

    .btn-cobranca-massa {
        margin-top: 40px;
    }

    button {
        outline: none;
    }

    .list-group {
        padding-left: 0;
        margin-bottom: 0px;
        border-bottom: 3px solid #32404e;
    }

    .list-group-item:last-child {
        margin-bottom: 0;
         border-bottom-right-radius: 0px; 
         border-bottom-left-radius: 0px; 
    }
    .list-group-item:first-child {
         border-top-left-radius: 0px; 
         border-top-right-radius: 0px; 
    }
    
    table {
        max-width: 100%;
        margin-top: 20px;
        margin-bottom: 8%;
        font-size: smaller;
    }

    tr {
        display: table-row;
        vertical-align: inherit;
        border-color: inherit;
        margin-top: 50px;
    }

    td, th {
        padding: 0;
        padding-left: 15px;
        padding-bottom: 2px;
        // left: 0;
        // margin-left: 50px;
    }

    h6{
        margin-top: 2px;
    }


    .payment-set{
        // width: 550px;
        width: 40%;
        position: absolute;
        /* float: right; */
        right: 0;
        top: 0;
        margin-right: 20px;
        margin-top: 40px;

        .titulo {
            font-size: small;
            margin-bottom: 0px;
        }

        .input-mass{
            height: 25px;
            padding-left: 5px;
            padding-right: 5px;
        }

        .select-mass{
           
                height: 28px;
                padding-left: 5px;
                padding-right: 5px;
                font-size: 12px;
            
        }
    }

    .type-payment {
        width: 150px;
    }

    .amount-payment {
        width: 150px;
    }

    .container-mass {
        min-height: 340px;
    }

    .message-mass {
        position: absolute;
        width: 95%;
        left: 2.5%;
        bottom: 10px;
        height: 35px;
        padding-top: 6px;
    }

    .single-price-mass {
        /* font-style: oblique; */
        /* font-weight: 500; */
        font-weight: bold;
    }

    .single-price-mass-desc{

    }

    .customer-desc{
        font-style: italic;
        font-weight: bold;
    }
    .container-boxes{
        position: absolute;
        float: right;
        right: 0;
        top: 3px;
        margin-right: 190px;
        font-size: small;
    }
    .checkbox-topo{
        margin-top: 5px;
    }

    .input-topo{
        margin-left: 20px;
    }
    .label-check{
        padding-top: 0px;
    }

    .check-mass {
        height: 20px;
    }

    .loader-mass{
        position: relative;
        left: 40%;
        font-size: x-large;
        margin-bottom: 100px;
        margin-top: 100px;
    }

    .form-control-mass {
        display: block;
        width: 100%;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    }

    .form-group-mass {
            /* margin-right: 0; */
    margin-left: 20px;
    position: relative;
    float: left;
    /* margin: 0; */
    margin-top: 12px;
    width: 120px;
    }

    .form-group-mass- {
                /* margin-right: 0; */
        margin-left: 0px;
        position: relative;
        float: left;
        /* margin: 0; */
        margin-top: 12px;
        width: 120px;
        }

    .label {
        color: white;
    }
          
    .success {background-color: #4CAF50; margin-left: 10px;} /* Green */
    .info {background-color: #2196F3; margin-left: 10px;} /* Blue */
    .warning {background-color: #ff9800; margin-left: 10px;} /* Orange */
    .danger {background-color: #f44336; margin-left: 10px;} /* Red */
    .other {background-color: #e7e7e7; color: black;} /* Gray */


    .margem-titulo{
        margin-top: 5px;
    }
}