<div class="mass-charging-container">
    <fone-header title="{{vm.viewName}}"></fone-header> 
    <div class="simple-toast" ng-show="vm.toastShow">
        <p>{{vm.toastMsg}}</p>
    </div>
    <div class="col-xs-12">
        <h1 class="form-group col-xs-12 display-4">Cobrança em Massa</h1>
        <div class="form-container">
            <div class="row">
                <div class="form-group col-xs-6 col-sm-3">
                    <label for="mes">Mês:</label>
                    <input type="number" class="form-control" placeholder="Mês" ng-model="vm.month" aria-describedby="sizing-addon2" id="mes">
                </div>
                <div class="form-group col-xs-6 col-sm-3">
                    <label for="ano">Ano:</label>
                    <input type="number" class="form-control" placeholder="Ano" ng-model="vm.year" aria-describedby="sizing-addon2" id="ano">
                </div>
            </div>
            <div class="row">
                <button class="btn btn-primary col-sm-2 col-xs-12 btn-buscar" ng-click="vm.searchMassCharging()" ng-disabled="vm.resquenting || vm.loading">Buscar</button>
            </div>
            
            <div class="loader" ng-if="vm.loading"></div>
            <div ng-if="!vm.loading && vm.lista.length == 0" class="no-data">Não há itens para exibir</div>

            <div class="form-group shadow-z-1 col-xs-12 margin-top" ng-show="!vm.loading && vm.lista.length > 0">
                <div>
                    <div class="check-all" ng-click="vm.checkAllCustomers()">Marcar/Desmarcar Todos</div>
                </div>
                <div ng-repeat="customer in vm.lista" class="cliente">
                    <div class="row-cliente">
                        <div class="cliente">
                            <input id="checkbox{{customer.Id}}" type="checkbox" ng-model="customer.checked" ng-disabled="vm.resquenting || customer.Charging.Charged || customer.statusOnCharging == 3 || customer.statusOnCharging == 2" class="no-outline">
                            <label for="checkbox{{customer.Id}}">{{customer.Name}}</label>
                        </div>

                        <div class="linhas">
                            <div ng-repeat="phone in customer.Phones" class="linha">
                                <div class="linha-number">{{'(' + phone.DDD + ') ' + phone.Number}}</div>
                                <div class="linha-nickname">{{phone.NickName}}</div>
                                <div class="linha-valor">{{phone.IdOperator == 1 ? 'CLARO' : 'VIVO'}}</div>
                                <div class="linha-valor">{{phone.Ammount | currency:"R$": 2}}</div>
                            </div>
                        </div>

                        <div class="payment-set">
                            <div class="column-payment">
                                <label>Forma Pagamento:</label>
                                <select id="selectPaymentMethod" class="form-control" ng-options="payment.id as payment.description for payment in vm.paymentMethod" ng-model="customer.typeCharging" ng-disabled="customer.Charging.Charged || customer.statusOnCharging == 3 || customer.statusOnCharging == 2">
                                    <option value="">Selecione</option>
                                </select>
                            </div>
    
                            <div class="column-payment">
                                <label>Comentário Interno:</label>
                                <input class="form-control" type="text" ng-disabled="vm.resquenting || customer.Charging.Charged || customer.statusOnCharging == 3 || customer.statusOnCharging == 2" ng-model="customer.Charging.ChargingComment">
                            </div>

                            <div class="column-payment">
                                <label>Comentário Boleto:</label>
                                <input class="form-control" type="text" ng-disabled="customer.typeCharging == 'cartao' || vm.resquenting || customer.Charging.Charged || customer.statusOnCharging == 3 || customer.statusOnCharging == 2" ng-model="customer.commentBoleto">
                            </div>

                            <div class="column-payment">
                                <label>Valor Total:</label>
                                <input class="form-control" money-input ng-model="customer.Charging.Ammount" ng-disabled="vm.resquenting || customer.Charging.Charged || customer.statusOnCharging == 3 || customer.statusOnCharging == 2">
                            </div>
                        </div>

                        <div class="button-box">
                            <button class="btn botao-cobrar-cliente btn-primary" ng-click="vm.chargeCustomer(customer)" ng-disabled="vm.resquenting || customer.Charging.Charged || customer.statusOnCharging == 3 || customer.statusOnCharging == 2" ng-class="{'btn-primary' : !customer.statusOnCharging, 'btn-warning' : customer.statusOnCharging == 1, 'btn-info' : customer.statusOnCharging == 2, 'btn-success' : customer.statusOnCharging == 3, 'btn-danger' : customer.statusOnCharging == 4}">
                                    {{  customer.statusOnCharging == 4 ? 'Erro na Cobrança' :
                                        customer.statusOnCharging == 3 ? 'Sucesso' : 
                                        customer.statusOnCharging == 2 ? 'Processando...' :
                                        customer.statusOnCharging == 1 ? 'Confirmar Cobrança?' :
                                        customer.Charging.Charged ? 'Já Cobrado' : 'Realizar Cobrança'
                                    }}
                            </button> 
                        </div>
                    </div>
                </div>

                <button class="btn btn-primary btn-cobranca-massa" ng-click="vm.doMassCharge()" ng-disabled="vm.resquenting" ng-class="{'floating-button': vm.hasOneChecked()}">
                    {{ vm.resquenting ? 'Processando...' : 'Realizar Cobrança em Massa' }}
                </button> 
            </div>
        </div>
    </div>
</div>