.customer-modal {
    .btn {
        margin-bottom: 5px;
    }

    .btn:last-child {
        margin-bottom: 10px;
    }

    .accordion-container {
        p {
            margin-bottom: 5px;
        }
        p:last-child {
            margin-bottom: 10px;
        }
    }

    .etapa-quantia {
        background-color: white;
        height: 150px;
        padding-left: 15px;
        padding-right: 15px;
        .form-group {
            padding-top: 10px;
            label, input {
                font-size: 20px;
            }

            input {
                height: 40px;
            }
        }
    }
}