<div class="customer-modal" ng-controller="CustomerModalController as vm">
  <div class="header">
    <span class="title">Detalhe Cliente</span>
    <button ng-click="closeThisDialog(0)">X</button>
  </div>

  <h4 class="nome-cliente" style="display:none;">{{ vm.customer.Name }}</h4>

  <div class="modal-container">
    <div class="container col-xs-12">
      <section>
        <div class="col-xs-1" style="padding-left:0px;padding-right:0px;">
          <button title="Editar cliente" ng-click="vm.onTapEditar(); closeThisDialog(0);" class="btn btn-primary" style="margin-bottom:5px;">
            <i class="glyphicon glyphicon-edit" aria-hidden="true"></i>
          </button>
        </div>

        <div class="col-xs-7">
          <h4>{{ vm.customer.Name }}</h4>
        </div>

        <div class="col-xs-4" style="text-align:right;padding-left:0px;padding-right:0px;">
          <!-- <button title="Criar Flag" ng-click="vm.onTapFlag(); closeThisDialog(0);" class="btn btn-primary">
              &#9872;
            <i  aria-hidden="true"></i>
          </button> -->
          <button title="Criar ordem de serviço" ng-click="vm.onTapComment(); closeThisDialog(0);" class="btn btn-primary">
            <i class="glyphicon glyphicon-list-alt" aria-hidden="true"></i>
          </button>
          <button title="Cobrança com novo cartão" class="btn btn-primary" ng-click="vm.onTapNewCardPayment()">
            <i class="glyphicon glyphicon-credit-card" aria-hidden="true"></i>
          </button>
          <button title="Cobrança com boleto" class="btn btn-primary" ng-click="vm.onTapBoleto()" style="margin-bottom:5px;">
            <img src="./content/img/Boleto.png" width="25px" height="15px" />
          </button>

          <button class="btn btn-primary" ng-click="vm.onTapDebito(vm.customer)">
            <img src="./content/img/debito.png" width="25px" height="15px" />
          </button>

          <button class="btn btn-primary" ng-click="vm.onTapUpdatePagarme()">
            {{ vm.mensagemPagarme }}
          </button>
        </div>
      </section>

      <div style="clear:both;"></div>
      <!-- && vm.cards.length > 0 -->
      <section class="available-card-list" ng-if="vm.etapaEscolhaCartao && (vm.cards.length > 0)">
        <div class="row fix-row">
          <div class="col-xs-12">
            <h4 ng-click="vm.onClickCardTitle()" class="colapsable-title">&#x276F; Cartões disponíveis</h4>
            <div ng-if="vm.showCards" class="available-card" ng-repeat="card in vm.cards">
              <div style="width: 20%">
                <span>
                  <i class="fa fa-fw fa-credit-card" aria-hidden="true"></i>
                  Cartão
                  <span class="text-capitalize">{{ card.brand }}</span>
                </span>
              </div>

              <div style="width: 20%">
                <span>Final {{ card.last_digits }}</span>
              </div>

              <div ng-if="card.valid" class="text-center" style="width: 20%">
                <span class="label label-primary">
                  válido
                </span>
              </div>

              <div ng-if="!card.valid" class="text-center" style="width: 20%">
                <span class="label label-danger">
                  inválido / vencido
                </span>
              </div>

              <div class="text-right" style="width: 20%">
                <button class="btn btn-success" ng-click="vm.onTapCard(card)">
                  Nova cobrança
                </button>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- ng-if="vm.flags.length > 0" -->
      <section class="available-card-list">
        <div class="row fix-row">
          <div class="col-xs-12">
            <h4 ng-if="vm.flags.length > 0" ng-click="vm.onClickFlagsTitle()" class="colapsable-title">&#x276F; Flags</h4>

            <v-accordion ng-if="vm.showFlags" id="accordionE" class="vAccordion--default" multiple control="accordionE">
              <v-pane expanded="true" ng-init="status.open = true" is-open="status.open" ng-repeat="flag in vm.flags track by $index">
                <v-pane-header>
                  <p>
                    <span ng-if="flag.PendingInteraction" class="flag-warning">&#9872;</span>
                    <span ng-if="!flag.PendingInteraction" class="flag-ok">&#9873;</span>
                    Flag criada:
                    <span class="text-capitalize">{{flag.RegisterDate | date: 'yyyy/MM/dd h:mm a' }}</span>
                  </p>
                </v-pane-header>

                <v-pane-content>

                  <p>Tipo: {{flag.TypeDescription }}</p>
                  <p>Interação: {{flag.PendingInteraction ? 'Pendente' : 'Concluída' }}
                    <span style="cursor:pointer" class="clickable"
                      ng-click="vm.editPendingFlag(flag)"> &#9998; </span>
                  </p>
                  <p>Descrição:
                    <span class="text-capitalize">{{flag.InteractionDescription}}</span>
                  </p>
                  <!-- flag.PendingInteraction -->
                </v-pane-content>
              </v-pane>
            </v-accordion>


          </div>
        </div>
      </section>

      <section>
        <div class="row fix-row">
          <div class="col-sm-6">

            <h4 ng-click="vm.onClickChargingsTitle()" class="colapsable-title" ng-show="vm.chargesArray.length > 0">&#x276F; Cobranças</h4>

            <v-accordion ng-if="vm.showChargings" id="accordionB" class="vAccordion--default" multiple control="accordionB" ng-show="vm.chargesArray.length > 0">
              <v-pane expanded="true" ng-init="status.open = true" is-open="status.open" ng-repeat="chargeAndOrder in vm.chargesArray">
                <v-pane-header>
                  <span class="spnHeader">
                    <span class="spnStatus" style="background-color: {{chargeAndOrder.Charges.statusColor}}"></span>
                    <span>{{ vm.chargesArray.length - $index }}ª Cob.</span>
                    <span class="spnR">R${{ chargeAndOrder.Charges.Ammount / 100 }}</span>
                    <span class="spnVence">Vencimento: {{ chargeAndOrder.Charges.BoletoExpires | date: 'dd/MM/yyyy' }}</span>
                    <span class="spnRef">Vigencia. {{ chargeAndOrder.Charges.MesVingencia + '/' + chargeAndOrder.Charges.AnoVingencia }}</span>
                  </span>
                </v-pane-header>

                <v-pane-content>
                  <div class="divSubHeader form-group">
                    <span>
                      Status:
                      <b>{{ chargeAndOrder.Charges.PaymentStatusDescription == '' ? 'Sem transaction associada' : chargeAndOrder.Charges.PaymentStatusDescription
                        }} {{(chargeAndOrder.Charges.PaymentStatusDescription=='Paid'||chargeAndOrder.Charges.PaymentStatusDescription=='Accepted'? vm.formatDate(chargeAndOrder.Charges.TransactionLastUpdate)
                        : '') | date: 'dd/MM/yyyy' }}
                      </b>
                    </span>
                    <span>
                      <button class="btn btn-info resent-email" ng-click="vm.onResentEmail(chargeAndOrder.Charges);">
                        {{ chargeAndOrder.Charges.resentMessage }}
                      </button>
                    </span>
                    <span>
                      <button class="btn separador-botao-copy" ng-show="chargeAndOrder.Charges.BoletoLink" ngclipboard data-clipboard-text="{{ chargeAndOrder.Charges.BoletoLink }}">
                        Copiar link Boleto
                      </button>
                    </span>
                    <span>Tipo:
                      <strong>{{ chargeAndOrder.Charges.descriptionType }} </strong>
                      &nbsp;&nbsp;
                      <label ng-if="chargeAndOrder.Charges.descriptionType =='Cartão de crédito'">Final: {{ vm.cards[0].last_digits }}</label>
                    </span>
                    <span>
                      Agente:
                      <strong>{{ chargeAndOrder.Charges.CollectorName }} </strong>
                    </span>
                    <span id="spnCopyBoletoCode">
                      <button class="btn separador-botao-copy" ng-show="chargeAndOrder.Charges.BoletoCode" ngclipboard data-clipboard-text="{{ chargeAndOrder.Charges.BoletoCode }}">
                        Copiar codigo barras boleto
                      </button>
                    </span>
                  </div>
                  <div class="form-group">
                    <p>
                      <strong>Comentário:</strong>
                      {{ chargeAndOrder.Charges.Comment }}
                    </p>
                  </div>
                  <div class="form-group">
                    <p>
                      <strong>Comentário boleto:</strong>
                      {{ chargeAndOrder.Charges.CommentBoleto }}
                    </p>
                  </div>
                  <div class="form-group">
                    <p>
                      <strong>Comentário email:</strong>
                      {{ chargeAndOrder.Charges.CommentEmail }}
                    </p>
                  </div>
                  <div class="form-group">
                    <p>
                      Criado em:
                      <strong>{{ chargeAndOrder.Charges.CreationDate | date: 'yyyy/MM/dd hh:mm:ss a' }}
                      </strong>
                    </p>
                  </div>       
                  <button class="btn btn-info col-xs-12 col-sm-3 info" ng-click="vm.onTapPaymentHistoryDetail(chargeAndOrder.Charges);">
                    + Info
                  </button>
                </v-pane-content>
              </v-pane>
            </v-accordion>
          </div>

          <div class="col-sm-6">
            <h4 ng-click="vm.onClickServiceOrdersTitle()" class="colapsable-title" ng-show="vm.osDescArray.length > 0">&#x276F; Ordens de Serviço</h4>
            <v-accordion ng-if="vm.showServiceOrders" ng-show="vm.osDescArray.length > 0" id="accordionB" class="vAccordion--default"
              multiple control="accordionB">
              <v-pane expanded="false" ng-init="status.open = true" is-open="status.open" ng-repeat="os in vm.osDescArray" ng-if="$index > 0">
                <v-pane-header>
                  {{ vm.osArray.length - $index }}ª O.S. {{ vm.osArray[vm.osArray.length - $index].ServiceOrders.Description }}
                </v-pane-header>

                <v-pane-content>
                  <p>
                    Criado em:
                    <strong>{{ vm.osArray[vm.osArray.length - $index].ServiceOrders.RegisterDate | date: 'yyyy/MM/dd hh:mm:ss a'
                      }}.
                    </strong>
                  </p>
                  <p>
                    Comentário:
                    <strong>{{ vm.osArray[vm.osArray.length - $index].ServiceOrders.Description }}.
                    </strong>
                  </p>
                  <p>
                    Pendente interação:
                    <strong>{{ vm.osArray[vm.osArray.length - $index].ServiceOrders .PendingInteraction }}
                    </strong>
                  </p>
                </v-pane-content>
              </v-pane>
            </v-accordion>

            <br />

            <h4 ng-click="vm.onClickSecundaryChargingsTitle()" class="colapsable-title" ng-show="vm.historyLog.length > 0">
              &#x276F; Histórico Cobrança registro secundário
            </h4>
            <v-accordion ng-if="vm.showSecundaryChargings" ng-show="vm.historyLog.length > 0" id="accordionB" class="vAccordion--default"
              multiple control="accordionB">
              <v-pane expanded="false" ng-init="status.open = true" is-open="status.open" ng-repeat="log in vm.historyLog">
                <v-pane-header>
                  <p>
                    Cobrança criada: {{ log.pagarmeResponse.date_created | date: 'yyyy/MM/dd' }}
                  </p>
                </v-pane-header>

                <v-pane-content>
                  <p>
                    Data da Cobrança: {{ log.pagarmeResponse.date_created | date: 'yyyy/MM/dd' }}
                  </p>
                  <p>Id pagarme da Cobrança: {{ log.pagarmeResponse.id }}</p>
                  <p>Método de Pagamento: {{ log.pagarmeResponse.payment_method }}</p>
                  <p>Valor cobrado: {{ log.pagarmeResponse.amount / 100 }} R$</p>
                  <p>Comentário Boleto: {{ log.boletoComment }}</p>
                  <p>Comentário cliente: {{ log.customerComment }}</p>
                  <p>Comentário fonclube: {{ log.foneclubeComment }}</p>
                  <p ng-show="log.pagarmeResponse.boleto_url.length > 0">
                    link boleto:
                    <a href="{{ log.pagarmeResponse.boleto_url }}" target="_blank">{{ log.pagarmeResponse.boleto_url }}
                    </a>
                  </p>
                </v-pane-content>
              </v-pane>
            </v-accordion>
          </div>
        </div>
      </section>

      <section>
        <div ng-if="vm.etapaQuantia" class="etapa-quantia">
          <div class="form-group">
            <label for="quantia">Quantia:</label>
            <input id="quantia" class="form-control" ng-model="vm.amount" type="text" money-input placeholder="Digite o valor a ser pago"
            />
          </div>
          <button ng-click="vm.onTapPagar()" class="btn btn-success">
            Pagar
          </button>
          <button ng-click="vm.cancelarPagamento()" class="btn btn-danger">
            Cancelar
          </button>
        </div>

        <br />

        <div class="list">
          <h2>{{ vm.message }}</h2>
        </div>
      </section>
    </div>
  </div>
</div>