<div class="customer-modal" ng-controller="CustomerModalController as vm">
    <div class="header">
        <span class="title">Detalhe Cliente</span>
        <button ng-click="closeThisDialog(0)">X</button>
    </div>

    <h4 class="nome-cliente" style="display:none;">{{vm.customer.Name}}</h4>
    <div class="modal-container">
        <div class="container col-xs-12">
            <div>
         
                <div class="col-xs-1" style="padding-left:0px;padding-right:0px;">
                    <button title="Editar cliente" ng-click="vm.onTapEditar(); closeThisDialog(0);"
                            class="btn btn-primary" style="margin-bottom:5px;"><i class="glyphicon glyphicon-edit"
                                                                                  aria-hidden="true"></i></button>
                </div>
                <div class="col-xs-7"><h4>{{vm.customer.Name}}</h4></div>
                <div class="col-xs-4" style="text-align:right;padding-left:0px;padding-right:0px;">
                    <button title="Criar ordem de serviço" ng-click="vm.onTapComment(); closeThisDialog(0);"
                            class="btn btn-primary"><i class="glyphicon glyphicon-list-alt" aria-hidden="true"></i>
                    </button>
                    <button title="Cobrança com novo cartão" class="btn btn-primary"
                            ng-click="vm.onTapNewCardPayment()"><i class="glyphicon glyphicon-credit-card"
                                                                   aria-hidden="true"></i></button>
                    <button title="Cobrança com boleto" class="btn btn-primary" ng-click="vm.onTapBoleto()"
                            style="margin-bottom:5px;"><img src="./content/img/Boleto.png" width="25px" height="15px">
                    </button>

                    <button class="btn btn-primary" ng-click="vm.onTapUpdatePagarme()">{{vm.mensagemPagarme}}
                    </button>
                    
                </div>

            </div>
            <div style="clear:both;"></div>
            <div ng-if="vm.etapaEscolhaCartao">

                <h4>
                    Cartões disponíveis
                </h4>
                <br>
                
                <v-accordion id="accordionB" class="vAccordion--default" multiple control="accordionB" >

                    <v-pane  expanded="false" ng-init="vm.cards.length == 1 ? status.open = true : status.open = false"
                    is-open="status.open" ng-repeat="card in vm.cards">
                      <v-pane-header class="fundo-header">
                         <h5>Cartão Final: {{card.last_digits}}</h5>
                      </v-pane-header>
            
                      <v-pane-content >
                        <div>
                            <p>Bandeira: {{card.brand}}</p>
                            <p>Final: {{card.last_digits}}</p>
                            <p>{{card.valid ? 'Cartão válido' : 'Cartão inválido/vencido'}}</p>
                            <button class="btn btn-success col-xs-12 col-sm-3" ng-click="vm.onTapCard(card)"> Nova
                                    cobrança
                                </button>
                        </div>
                        </v-accordion>
                      </v-pane-content>
                    </v-pane>
                  </v-accordion>   
                

                <h4>Cobranças & Ordens de Serviço</h4>

                <v-accordion  id="accordionB"  class="col-sm-6 vAccordion--default" multiple control="accordionB" >

                    <v-pane  expanded="true" ng-init="status.open = true"
                    is-open="status.open" ng-repeat="os in vm.osDescArray" ng-if="$index > 0">
                      <v-pane-header>
                        {{vm.osArray.length-$index}}ª O.S.
                                    {{vm.osArray[vm.osArray.length-$index].ServiceOrders.Description}}
                      </v-pane-header>
            
                      <v-pane-content >
                        <p>Criado em:
                            <strong>{{vm.osArray[vm.osArray.length-$index].ServiceOrders.RegisterDate |
                                date: 'yyyy/MM/dd hh:mm:ss a'}}.</strong>
                        </p>
                        <p>Comentário:
                            <strong>{{vm.osArray[vm.osArray.length-$index].ServiceOrders.Description}}.</strong>
                        </p>
                        <p>Pendete interação:
                            <strong>{{vm.osArray[vm.osArray.length-$index].ServiceOrders.PendingInteraction}} </strong>
                        </p>
                    
                        </v-accordion>
                      </v-pane-content>
                    </v-pane>
                  </v-accordion>  

                  <v-accordion  id="accordionB"  class="col-sm-6 vAccordion--default" multiple control="accordionB" >

                    <v-pane  expanded="true" ng-init="status.open = true"
                    is-open="status.open" ng-repeat="chargeAndOrder in vm.chargesArray">

    
                      <v-pane-header >
                        {{vm.chargesArray.length-$index}}ª Cob. {{
                            chargeAndOrder.Charges.PaymentDateFormatted | date:'yyyy/MM/dd'}}
                            R${{chargeAndOrder.Charges.Ammount / 100 }}
                            {{chargeAndOrder.Charges.descriptionType}}
                      </v-pane-header>
            
                      <v-pane-content >

                            <p>Criado em:
                                    <strong>{{chargeAndOrder.Charges.PaymentDate | date: 'yyyy/MM/dd hh:mm:ss
                                        a'}}.</strong>
                                </p>
                                <p>Comentário:
                                    <strong>{{chargeAndOrder.Charges.Comment}}.</strong>
                                </p>
                                <p>Valor:
                                    <strong>{{chargeAndOrder.Charges.Ammount / 100 }} R$ </strong>
                                </p>
                                <p>Tipo:
                                    <strong>{{chargeAndOrder.Charges.descriptionType}} </strong>

                                    <svg height="10" width="10" ng-if="!vm.charged_status.Charged"
                                         style="text-align: center">
                                        <circle cx="5" cy="5" r="5" stroke="" stroke-width="3" fill="red"/>
                                    </svg>
                                    <svg height="10" width="10"
                                         ng-if="vm.charged_status.Charged && vm.charged_status.ChargingValidity[0].StatusDescription != 'CARREGANDO' && vm.charged_status.ChargingValidity[0].StatusDescription != 'PENDENTE'">
                                        <circle cx="5" cy="5" r="5" stroke="" stroke-width="3" fill="green"/>
                                    </svg>
                                    <svg height="10" width="10"
                                         ng-if="vm.charged_status.ChargingValidity[0].StatusDescription == 'PENDENTE'">
                                        <circle cx="5" cy="5" r="5" stroke="" stroke-width="3" fill="blue"/>
                                    </svg>
                                    <svg height="10" width="10"
                                         ng-if="vm.charged_status.ChargingValidity[0].StatusDescription == 'CARREGANDO'">
                                        <circle cx="5" cy="5" r="5" stroke="" stroke-width="3" fill="grey"/>
                                    </svg>
                                    &nbsp;&nbsp;<label
                                            ng-if="chargeAndOrder.Charges.descriptionType =='Cartão de crédito'">Final:
                                        {{vm.cards[0].last_digits}}</label>
                                </p>
                                <p>Agente:
                                    <strong>{{chargeAndOrder.Charges.CollectorName }} </strong>
                                </p>
                                <p>Vigência: {{chargeAndOrder.Charges.PaymentDateFormatted | date:'yyyy/MM'}}
                                </p>
                                
                                <p>Status: {{chargeAndOrder.Charges.PaymentStatusDescription == '' ? 'Sem transaction associada' : chargeAndOrder.Charges.PaymentStatusDescription}}
                                </p>



                                <p ng-if="chargeAndOrder.Charges.boleto_url">
                                    <a href="{{chargeAndOrder.Charges.boleto_url}}">{{chargeAndOrder.Charges.boleto_url}}</a>
                                </p>
                                
                                <button class="btn separador-botao" 
                                ng-show="chargeAndOrder.Charges.boleto_url.length > 0"
                                ngclipboard data-clipboard-text="{{chargeAndOrder.Charges.boleto_url}}"> Copiar link Boleto
                                </button>
                                
                            
                            <button class="btn btn-info col-xs-12 col-sm-3"
                                    ng-click="vm.onTapPaymentHistoryDetail(chargeAndOrder.Charges);"> + Info
                            </button>
                       
                    
                       
                      </v-pane-content>
                    
                    </v-pane>
                  </v-accordion>  

                  <v-accordion  id="accordionB"  class="col-sm-6 vAccordion--default" multiple control="accordionB" >

                    <v-pane  expanded="true" ng-init="status.open = true"
                    is-open="status.open" ng-repeat="log in vm.historyLog">

    
                      <v-pane-header >
                            <p>Cobrança criada: {{ log.pagarmeResponse.date_created | date:'yyyy/MM/dd'}}</p> 
                      </v-pane-header>
            
                      <v-pane-content >
                            <p>Id pagarme da Cobrança:  {{log.pagarmeResponse.id}}</p>
                            <p>Método de Pagamento: {{ log.pagarmeResponse.payment_method}}</p>
                            <p>Valor cobrado: {{log.pagarmeResponse.amount/100}} R$</p>

                      </v-pane-content>
                    
                    </v-pane>
                  </v-accordion>

            </div>

            <div ng-if="vm.etapaQuantia" class="etapa-quantia">
                <div class="form-group">
                    <label for="quantia">Quantia:</label>
                    <input id="quantia" class="form-control" ng-model="vm.amount" type="text" money-input
                           placeholder="Digite o valor a ser pago">
                </div>
                <button ng-click="vm.onTapPagar()" class="btn btn-success">
                    Pagar
                </button>
                <button ng-click="vm.cancelarPagamento()" class="btn btn-danger"> Cancelar</button>
            </div>

            <div class="list">
                <h2>{{vm.message}}</h2>
            </div>
        </div>
    </div>
</div>