.all-phones{

    .borda-topo-estoque{
        margin-top: 160px;
        position: relative;
    
    }
    
    .table-scroll thead {
        display: table;
        width: 94%;
        table-layout: fixed;
        margin-top: -120px;
        position: absolute;
        background-color: white;
        z-index: 9999;
    }
    
    .table-scroll tbody {
        overflow-y: auto;
        display: block;
        width: 100%;
        table-layout: fixed;
        min-height: 300px;
        margin-top: 40px
    }
    
    .table-scroll tr {
        display: table;
        table-layout: fixed;
        width: 100%;
        height: 100%;
    }
    
    
    .table-scroll td {
        height: 47px; // needed in order to keep rows from collapsing
    }
    
    .titulo-teste{
        color: grey;
        position: absolute;
        z-index: 10000;
        margin-top: -104px;
        margin-left: 30px;
    
    }
    
    .pagination-custom{
        
        position: absolute;
        margin-top: -110px;
        
    }
    
    .limites-pag{
        position: absolute;
        right: 0;
        z-index: 10001;
        margin-right: 24px;
        margin-top: -150px;
    }
    
    .filtro-todas-linhas{
        position: absolute;
        z-index: 999999;
        margin-top: 8px;
    }

    .buttom-mode{
        cursor: pointer;
    }

    select{
        // max-width: 100px;
        display: block;
        width: 100%;
    }
    .divergente{
        color: red;
    }

    .nao-divergente{
        color: green;
    }

    .inconclusivo{
        color: rgba(252, 206, 0, 0.623);
    }

}

