.whatsapp-modal{
#divSendMessage{
    position: absolute;
    bottom: 0;
	left:0;
	input[type='text']{
	border-radius:15px;
	}
}
.message-in{
background-color: #fff;
border-radius: 7.5px; 
box-shadow: 0 1px 0.5px rgba(0,0,0,.13);
max-width: 65%;

div{
padding:5px 10px 5px 10px;
font-size: 14.2px;
line-height: 19px;
color: #262626;
}
}
.message-out{
background-color: #dcf8c6;
border-radius: 7.5px; 
box-shadow: 0 1px 0.5px rgba(0,0,0,.13);
max-width: 65%;

div{
padding:5px 10px 5px 10px;
font-size: 14.2px;
line-height: 19px;
color: #262626;
}
}
}