<div class="whatsapp-modal" ng-controller="WhatsappController as vm">
    <div class="header form-group">
        <span class="title" ng-if="vm.name">{{ vm.name }}</span>
        <button ng-click="closeThisDialog(0)">X</button>
    </div>
    <div class="modal-container">
        <div class="container col-xs-12" style="min-height:400px;background-color: #e5ddd5;">
            <div
                style="background-image: url('../content/img/whatsapp-background.png'); opacity: .06; position: absolute; top: 0; height: 100%; width: 100%;">
            </div>
            <div class="panel-body">
                <div class="form-group col-md-12" ng-repeat="message in vm.messages">
                    <div ng-class="message.Type=='to_client'?'message-out pull-right':'message-in pull-left'">
                        <div>{{message.Text}}</span>
                        </div>
                    </div>
                </div>

                <div id="divSendMessage" class="form-group col-md-12">
                    <div class="row">
                        <div class="col-md-11">
                            <input type="text" class="form-control" placeholder="Type a message" ng-model="vm.text" />
                        </div>
                        <div class="col-md-1">
                            <button class="btn btn-primary" ng-click="vm.onSend()">{{vm.sendButtonText}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>