<div class="whatsapp-modal" ng-controller="WhatsappController as vm">
    <div class="header form-group">
        <div class="row">
            <div class="col-md-4">
                <span class="spnTopLeft pull-left">
                    <p></p>
                    <p id="pClientName">{{vm.messages.C2D_Client.Assigned_Name}}</p>
                    <p id="pExtra1" ng-repeat="(key, value) in vm.messages.C2D_Client.Custom_Fields">Extra{{key}}: <a
                            href='{{value}}' target="_blank">{{value}}</a></p>
                    <p id="pClientImg">
                        <img src="../../content/img/message-green.png" /> {{vm.messages.C2D_Client.Phone}}</p>
                </span>
            </div>
            <div id="divTopTags" class="col-md-4">
                <span ng-repeat="tag in vm.messages.C2D_Client.Tags">{{tag.label}}</span>
            </div>
            <div class="col-md-4">
                <span class="title" ng-if="vm.name">{{ vm.name }}</span>
                <button ng-click="closeThisDialog(0)">X</button>
            </div>
        </div>
    </div>
    <div class="modal-container">
        <div class="container col-xs-12" style="min-height:400px;background-color: #e5ddd5;">
            <div
                style="background-image: url('../content/img/whatsapp-background.png'); opacity: .06; position: absolute; top: 0; height: 100%; width: 100%;">
            </div>
            <div class="panel-body">
                <div class="form-group col-md-12" ng-repeat="message in vm.messages.Messages">
                    <div class="text-center divDate">
                        <span>{{message.FormattedDate}}</span>
                    </div>

                    <div class="form-group col-md-12" ng-repeat="messageData in message.Messages">
                        <div class="msgOuter" ng-class="messageData.Type=='to_client'?'pull-right':'pull-left'">
                            <!-- <span ng-if="messageData.Type=='to_client' && messageData.SendBy" class="spnClientName">{{messageData.SendBy}}:</span> -->
                            <div ng-class="messageData.Type=='to_client'?'message-out':'message-in'">
                                <div>
                                    {{messageData.Text}}
                                    <span class="spnTime">{{messageData.Time}}
                                        <!-- <span data-icon="msg-dblcheck-ack" class="">
                                        <svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 15" width="16" height="15">
                                            <path fill="#4FC3F7" d="M15.01 3.316l-.478-.372a.365.365 0 0 0-.51.063L8.666 9.879a.32.32 0 0 1-.484.033l-.358-.325a.319.319 0 0 0-.484.032l-.378.483a.418.418 0 0 0 .036.541l1.32 1.266c.143.14.361.125.484-.033l6.272-8.048a.366.366 0 0 0-.064-.512zm-4.1 0l-.478-.372a.365.365 0 0 0-.51.063L4.566 9.879a.32.32 0 0 1-.484.033L1.891 7.769a.366.366 0 0 0-.515.006l-.423.433a.364.364 0 0 0 .006.514l3.258 3.185c.143.14.361.125.484-.033l6.272-8.048a.365.365 0 0 0-.063-.51z"></path>
                                        </svg>
                                    </span> -->
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="divSendMessage" class="form-group col-md-12">
                    <div class="row">
                        <div class="col-md-11">
                            <input type="text" class="form-control" placeholder="Type a message" ng-model="vm.text" />
                        </div>
                        <div class="col-md-1">
                            <button class="btn btn-primary" ng-click="vm.onSend()">{{vm.sendButtonText}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>