<div class="edicao-container">
        <fone-header title="Editar Cadastro"></fone-header>   
    <h2 class="form-group col-xs-12 display-3">Dados Iniciais</h2>                
    <div class="col-xs-12">
        <div class="form-container"> 
            <div class="row">           
                <div class="form-group col-sm-6 col-xs-12">
                    <label for="cpf">CPF:</label>
                    <input id="cpf" next-on-enter class="form-control" ng-model="vm.customer.DocumentNumber" type="text" ng-change="vm.validarCPF()" mask="999.999.999-99" restrict="reject">
                </div>
                <div class="form-group col-sm-6 col-xs-12">
                    <label for="nome">Nome:</label>
                    <input id="nome" next-on-enter class="form-control" ng-model="vm.customer.Name" type="text">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-6 col-xs-12">
                    <label for="email">Email:</label>
                    <input id="email" next-on-enter class="form-control" ng-model="vm.customer.Email" type="text">
                </div> 
            </div>
            <!-- <div class="form-group col-sm-6 col-xs-12">
                <label for="dataNasc">Data de Nascimento:</label>
                <input id="dataNasc" class="form-control" ng-model="vm.customer.Born" type="text"  name="date" mask="39/19/9999" restrict="reject" placeholder="dd/mm/aaaa">
            </div>                                                                            -->
            <div ng-repeat="phoneNumber in vm.customer.Phones | filter: { IsFoneclube: null }">
                <div class="row">
                    <div class="form-group col-sm-6 col-xs-12">
                        <label for="dataNasc">Telefone "atual" de contato:</label>
                        <input id="dataNasc" next-on-enter class="form-control" ng-model="phoneNumber.NovoFormatoNumero" type="tel" placeholder="(xx) 99999-9999" mask="(99) 9?9999-9999" restrict="reject">
                    </div>
                    <div class="form-group col-sm-6 col-xs-12" >
                        <label for="selectOperator">Qual sua operadora atual?:</label>
                        <select id="selectOperator" class="form-control" next-on-enter ng-options="operator.id as operator.nome for operator in vm.allOperatorOptions" ng-model="phoneNumber.IdOperator">
                            <option value="">Selecione</option>
                        </select>            
                    </div>                                
                </div>
            </div>  
            <div class="row">
                <div class="form-group col-sm-6 col-xs-12">
                    <label for="quemConvidou">Telefone de quem convidou:</label>
                    <input id="quemConvidou" next-on-enter class="form-control" ng-model="vm.contactParent" ng-blur="vm.getParentDataByPhone(vm.contactParent, vm.customer.Id)" type="tel" placeholder="(21) 99999-9999" mask="(99) 9?9999-9999" restrict="reject">
                </div> 
                <div class="form-group col-sm-6 col-xs-12">
                    <label for="nomeQuemConvidou">Nome de quem te convidou para o Foneclube:</label>
                    <input id="nomeQuemConvidou" next-on-enter class="form-control" ng-model="vm.customer.NameContactParent" type="text" auto-complete="vm.autoCompleteOptions">
                </div>
            </div>              
        </div>          
    </div>    
    <h2 ng-click="vm.openEndereco = !vm.openEndereco" class="form-group col-xs-12 display-3">Endereço <i class="glyphicon" ng-class="{'glyphicon-chevron-down': vm.openEndereco, 'glyphicon-chevron-right': !vm.openEndereco}"></i> </h2>
    <div class="col-xs-12" ng-class="{'accordion-container-open': vm.openEndereco, 'accordion-container-close': !vm.openEndereco}">
        <div class="form-container">            
            <div ng-repeat="adress in vm.customer.Adresses track by $index">
                <div class="form-group col-sm-6 col-xs-12">
                    <label for="cep">CEP:</label>
                    <input id="cep" next-on-enter class="form-control" ng-model="adress.Cep" type="text" name="CEP" mask="99999-999" restrict="reject" ng-change="vm.validarCEP($index)">
                </div>
                <div class="form-group col-sm-6 col-xs-12">
                    <label for="rua">Rua:</label>
                    <input id="rua" next-on-enter class="form-control" ng-model="adress.Street" type="text">
                </div>
                <div class="form-group col-sm-6 col-xs-12">
                    <label for="numero">Número:</label>
                    <input id="numero" next-on-enter class="form-control" type="number" ng-model="adress.StreetNumber">
                </div>
                <div class="form-group col-sm-6 col-xs-12">
                    <label for="complemento">Complemento:</label>
                    <input id="complemento" next-on-enter class="form-control" type="text" ng-model="adress.Complement">
                </div>       
                <div class="form-group col-sm-6 col-xs-12">
                    <label for="bairro">Bairro:</label>
                    <input id="bairro" next-on-enter class="form-control" ng-model="adress.Neighborhood" type="text">
                </div>
                <div class="form-group col-sm-6 col-xs-12">
                    <label for="cidade">Cidade:</label>
                    <input id="cidade" next-on-enter class="form-control" ng-model="adress.City" type="text">
                </div>  
                <div class="form-group col-sm-6 col-xs-12">
                    <label for="uf">Estado:</label>
                    <input id="uf" next-on-enter class="form-control" ng-model="adress.State" type="text">
                </div>                                                             
            </div>         
        </div>
    </div>
    
    <h2 ng-click="vm.openImagens = !vm.openImagens" class="form-group col-xs-12 display-3">Imagens <i class="glyphicon" ng-class="{'glyphicon-chevron-down': vm.openImagens, 'glyphicon-chevron-right': !vm.openImagens}"></i> </h2>                
    <div class="col-xs-12" ng-class="{'accordion-container-open': vm.openImagens, 'accordion-container-close': !vm.openImagens}">
        <!-- <div class="form-container">            
            <div ng-repeat="images in vm.customer.Photos track by $index">
                <div>
                    <img style="height: 400px;" ng-src="https://s3-sa-east-1.amazonaws.com/fone-clube-bucket/{{images.Name}}" alt="">
                </div>
            </div>
        </div> -->        
        <div class="form-container" ng-if="vm.customer.Photos">
            <div class="row" ng-if="vm.customer">
                <div class="form-group col-sm-4 col-xs-12">
                    <div class="botao-upload-cadastro" ng-click="vm.uploadImg('upload-selfie')">
                            <span>Selfie</span>
                        <img src="../../content/img/upload.png" alt="">                                                       
                        <input id="upload-selfie" type="file" name="file" fileread="vm.imageSelf" base64="vm.base64Self" accept="image/*"/>
                    </div>
                    <img class="thumb-image" ng-src="{{vm.getImageOftype(1)}}" alt="x" ng-click="vm.viewImg(vm.getImageOftype(1))">
                </div>                    
            </div>
            <div class="row">
                <div class="form-group col-sm-4 col-xs-12">
                    <div class="botao-upload-cadastro" ng-click="vm.uploadImg('upload-frente')">
                        <span>Frente</span>
                        <img src="../../content/img/upload.png" alt="">                                                     
                        <input id="upload-frente" type="file" name="file" fileread="vm.imageFrente" base64="vm.base64Frente" accept="image/*"/>
                    </div>
                    <img class="thumb-image" ng-src="{{vm.getImageOftype(2)}}" alt="x" ng-click="vm.viewImg(vm.getImageOftype(2))">
                </div>                    
            </div>
            <div class="row">
                <div class="form-group col-sm-4 col-xs-12">
                    <div class="botao-upload-cadastro" ng-click="vm.uploadImg('upload-verso')">
                        <span>Verso</span>
                        <img src="../../content/img/upload.png" alt="">                                                     
                        <input id="upload-verso" type="file" name="file" fileread="vm.imageVerso" base64="vm.base64Verso" accept="image/*"/>
                    </div>
                    <img class="thumb-image" ng-src="{{vm.getImageOftype(3)}}" alt="x" ng-click="vm.viewImg(vm.getImageOftype(3))">
                </div>                    
            </div>                 
        </div>         
    </div>
    <h2 ng-click="vm.linhasFone = !vm.linhasFone" ng-init="vm.linhasFone = true" class="form-group col-xs-12 display-3">Linhas Foneclube <i class="glyphicon" ng-class="{'glyphicon-chevron-down': vm.linhasFone, 'glyphicon-chevron-right': !vm.linhasFone}"></i> </h2>                
    <div class="col-xs-12" ng-class="{'accordion-container-open': vm.linhasFone, 'accordion-container-close': !vm.linhasFone}">
        <div class="form-container">  
            <div class="form-group col-sm-6 col-xs-12">
                <label for="precoUnico">Preço único:</label>
                <input id="precoUnico" next-on-enter class="form-control" ng-model="vm.singlePriceLocal" money-input type="tel">
            </div> 
            <div class="form-group col-sm-6 col-xs-12">
                <label for="comentarioValor">Comentário valor:</label>
                <input id="comentarioValor" class="form-control" ng-model="vm.customer.DescriptionSinglePrice" type="text"  placeholder="Comentário sobre o Preço único">
            </div>
            <div class="item item-divider item-icon-right">
                Informações linha(s) Foneclube
            </div>

            <!--<uib-accordion close-others="oneAtATime"> 
            
                <div uib-accordion-group   ng-hide="!phoneNumber.IsFoneclube || phoneNumber.Delete" ng-init="status.open = false" is-open="status.open" ng-repeat="phoneNumber in vm.customer.Phones track by $index">                    
                    <uib-accordion-heading>
                    </uib-accordion-heading>                   
                </div>                
            </uib-accordion> -->
            <table class="s_table">
  <thead>
    <tr>
      <th style="width: 130px;">   <div class="s_cls s_lbl"><span for="portabilidadeTelefone">TELEFONE:</span></div>
        </th>

        <th style="width: 40px;">
            <div class="s_cls s_lbl"><span for="portabilidadeTelefone">STATUS:</span></div>
         </th>

      <th style="width: 100px;">
           <div class="s_cls s_lbl"><span for="portabilidadeTelefone">PLANO:</span></div>
        </th>

        
         
      <th style="width: 100px;">
           <div class="s_cls s_lbl"><span for="portabilidadeTelefone">OPERADORA:</span></div>
        </th>
      <th style="width: 100px;">
           <div class="s_cls s_lbl"><span for="portabilidadeTelefone">PORTAR:</span></div>
        </th>
        <th style="width: 40px;">
            <div class="s_cls s_lbl"><span for="portabilidadeTelefone">ATIVA:</span></div>
         </th>

         
      <th style="width: 600px;">
           <div class="s_cls s_lbl" ><span for="portabilidadeTelefone">APELIDO:</span></div>
        </th>
   
    </tr>
  </thead>
  <tbody>   
    <tr ng-hide="!phoneNumber.IsFoneclube || phoneNumber.Delete" ng-init="status.open = false" is-open="status.open" ng-repeat="phoneNumber in vm.customer.Phones track by $index">     
      <td style="width: 130px;text-align: center;">
          <div class="s_cls">                        
    <input id="portabilidadeTelefone" next-on-enter class="form-control" ng-model="phoneNumber.NovoFormatoNumero" type="tel" placeholder="(xx) 99999-9999" mask="(99) 9?9999-9999" restrict="reject" ng-change="vm.validatePhoneNumber($index)" style="width: 120px;">
      </div>           
        </td> 
        
        
        <td style="width: 40px;">
            <div class="s_cls box-status" ng-style="phoneNumber.StatusOperator">{{phoneNumber.StatusDescription}}</div>          
        </td> 

      <td style="width: 100px;">
            <div class="s_cls">                        
      <select id="qualPlanoContratar" next-on-enter class="form-control" ng-options="plan.Id as plan.Description for plan in vm.plans | filter: phoneNumber.operadora == 1 ? 'VIVO' : phoneNumber.operadora == 2 ? 'CLARO' : 9" ng-model="phoneNumber.IdPlanOption" style="width: 160px;">
                            <option value="">Selecione</option>
                        </select>
       </div>          
        </td>   
        
        


      <td style="width: 100px;text-align: center;">
        <div class="s_cls">                        
                        <select id="qualOperadoraUsar" next-on-enter class="form-control" ng-model="phoneNumber.operadora" ng-change="phoneNumber.IdPlanOption = ''" style="width: 100px;">
                            <option name="{{'operadora' + phoneNumber.key}}" value="1">Vivo</option>
                            <option name="{{'operadora' + phoneNumber.key}}" value="2">Claro</option>
                        </select>
                           </div>
        
        </td>
      <td style="width: 100px;text-align: center;">
          <div class="s_cls">                        
                        <select id="usarNumeroAtual" class="form-control" next-on-enter ng-model="phoneNumber.Portability" style="width: 100px;">
                            <option value="true">Sim, vou fazer a "portabilidade" transferindo minha linha para o Foneclube.</option>
                            <option value="false">Não, quero um número novo.</option>
                        </select>
                           </div>
        </td>
        <td style="width: 40px;">
         <toggle ng-change="changed()"  on="On" off="Off" ng-model="phoneNumber.LinhaAtiva"></toggle>
        
        </td>
        <td>
          <div class="s_cls">                        
                        <input id="comentarioValor" next-on-enter class="form-control" ng-model="phoneNumber.NickName" type="text" placeholder="Apelido" style="width: 100%;">
                           </div>
        </td>
    </tr>
  </tbody>
</table>
        </div>
    </div>   
    <div class="form-group col-xs-12">
        <button class="btn btn-primary col-sm-2 col-xs-12" ng-disabled="vm.requesting" ng-enter="vm.onTapSendUser(vm.customer)" ng-click="vm.onTapSendUser(vm.customer)">Enviar</button> 
        <button  ng-enter="vm.onTapNewPhoneNumber()" ng-click="vm.onTapNewPhoneNumber()" style="background: transparent; border: none; position: absolute; right: 0; padding-right: 16px;" class="s_button-icon"><i class="glyphicon glyphicon-plus"></i></i></button>
    </div>         
</div>

